{% extends 'portfolio/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta_description %}
  {{ post.summary|default:post.title|truncatewords:30 }}
{% endblock %}

{% block og_title %}
  {{ post.title }}
{% endblock %}

{% block og_description %}
  {{ post.summary|default:post.title|truncatewords:30 }}
{% endblock %}

{% block og_image %}
  {{ post.image_absolute_url }}
{% endblock %}




{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <p><em>{{ post.published|date:"F j, Y" }}</em></p>

  {# FEATURED IMAGE #}
  {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%;" />
  {% endif %}

  {# MAIN CONTENT (markdown or summary) #}
  {% if post.content %}
    <div class="post-content markdown-body">{{ post.content_html|safe }}</div>
  {% elif post.external_url %}
    <div>
      <p>This is a summary post. <a href="{{ post.external_url }}" target="_blank">Read the full notebook on GitHub</a>.</p>
      {% if post.summary %}
        <p>{{ post.summary }}</p>
      {% endif %}
    </div>
  {% else %}
    <div><em>No content available.</em></div>
  {% endif %}

  {# ADDITIONAL IMAGES #}
  {% if post.images.all %}
    <div style="margin-top: 2em;">
      {% for img in post.images.all %}
        <div style="margin-bottom: 1em;">
          <img src="{{ img.image.url }}" alt="{{ img.caption }}" style="max-width: 100%;" />
          {% if img.caption %}
            <p><em>{{ img.caption }}</em></p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# EXTERNAL LINK #}
  {% if post.external_url %}
    <div style="margin-top:2em;">
      <a href="{{ post.external_url }}" target="_blank">Read More on GitHub</a>
    </div>
  {% endif %}
</article>
{% endblock %}
